<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fas  fa-users mr-1"></i>
      <p>
        User Mangement

        <i class="fas fa-angle-left right"></i>


      </p>
    </a>

    <ul class="nav nav-treeview">
      <li class="nav-item ml-3">
        <a href="{% url 'reviewer-index' %}" class="nav-link">
          <i class="fas fa-xs fa-circle"></i>
          <p>
            Reviewer

          </p>
        </a>
      </li>


    </ul>

    <ul class="nav nav-treeview">
      <li class="nav-item ml-3">
        <a href="{% url 'normal-user-index' %}" class="nav-link">
          <i class="fas fa-xs fa-circle"></i>
          <p>
            User

          </p>
        </a>
      </li>


    </ul>

  </li>

<!-- ----- ------------------------------------------Permission Management---------------------------------------------------->
<li class="nav-item has-treeview">
  <a href="#" class="nav-link">
    <i class="fas  fa-users mr-1"></i>
    <p>
      Permission Mangement

      <i class="fas fa-angle-left right"></i>


    </p>
  </a>

  <ul class="nav nav-treeview">
    <li class="nav-item ml-3">
      <a href="{% url 'reviewer-index' %}" class="nav-link">
        <i class="fas fa-xs fa-circle"></i>
        <p>
          Reviewer

        </p>
      </a>
    </li>


  </ul>

  <ul class="nav nav-treeview">
    <li class="nav-item ml-3">
      <a href="{% url 'normal-user-index' %}" class="nav-link">
        <i class="fas fa-xs fa-circle"></i>
        <p>
          User

        </p>
      </a>
    </li>


  </ul>

</li>
<!-- ----- ------------------------------------------Article Management---------------------------------------------------->
<li class="nav-item has-treeview">
  <a href="#" class="nav-link">
    <i class="fas  fa-users mr-1"></i>
    <p>
      Article Mangement

      <i class="fas fa-angle-left right"></i>


    </p>
  </a>

  <ul class="nav nav-treeview">
    <li class="nav-item ml-3">
      <a href="{% url 'reviewer-index' %}" class="nav-link">
        <i class="fas fa-xs fa-circle"></i>
        <p>
          Reviewer

        </p>
      </a>
    </li>


  </ul>

  <ul class="nav nav-treeview">
    <li class="nav-item ml-3">
      <a href="{% url 'normal-user-index' %}" class="nav-link">
        <i class="fas fa-xs fa-circle"></i>
        <p>
          User

        </p>
      </a>
    </li>


  </ul>

</li>
