<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fas  fa-users mr-1"></i>
      <p>
        User Mangement

        <i class="fas fa-angle-left right"></i>


      </p>
    </a>

    <ul class="nav nav-treeview">
      <li class="nav-item ml-3">
        <a href="{% url 'admin_app:reviewer-index' %}" class="nav-link">
          <i class="fas fa-xs fa-circle"></i>
          <p>
            Reviewer

          </p>
        </a>
      </li>


    </ul>

    <ul class="nav nav-treeview">
      <li class="nav-item ml-3">
        <a href="{% url 'admin_app:normal-user-index' %}" class="nav-link">
          <i class="fas fa-xs fa-circle"></i>
          <p>
            User

          </p>
        </a>
      </li>


    </ul>

  </li>

<!-- ----- ------------------------------------------Permission Management---------------------------------------------------->
<li class="nav-item has-treeview">
  <a href="#" class="nav-link">
    <i class="fas  fa-users mr-1"></i>
    <p>
      Permission Mangement

      <i class="fas fa-angle-left right"></i>


    </p>
  </a>

  <ul class="nav nav-treeview">
    <li class="nav-item ml-3">
      <a href="" class="nav-link">
        <i class="fas fa-xs fa-circle"></i>
        <p>
          Reviewer

        </p>
      </a>
    </li>


  </ul>

  <ul class="nav nav-treeview">
    <li class="nav-item ml-3">
      <a href="" class="nav-link">
        <i class="fas fa-xs fa-circle"></i>
        <p>
          User

        </p>
      </a>
    </li>


  </ul>

</li>
<!-- ----- ------------------------------------------Article Management---------------------------------------------------->
<li class="nav-item has-treeview">
  <a href="#" class="nav-link">
    <i class="fas  fa-users mr-1"></i>
    <p>
      Article Mangement

      <i class="fas fa-angle-left right"></i>


    </p>
  </a>

  <ul class="nav nav-treeview">
    <li class="nav-item ml-3">
      <a href="{% url 'admin_app:user-view' %}" class="nav-link">
        <i class="fas fa-xs fa-circle"></i>
        <p>
          Articles

        </p>
      </a>
    </li>


  </ul>

  
</li>


<!-- --------------------------------------------------------------------------------------------------------- -->

<li class="nav-item has-treeview">
  <a href="#" class="nav-link">
    <i class="fas  fa-users mr-1"></i>
    <p>
      Authentication Mangement

      <i class="fas fa-angle-left right"></i>


    </p>
  </a>


  <ul class="nav nav-treeview">
    <li class="nav-item ml-3">
      <a href="" class="nav-link">
        <i class="fas fa-xs fa-circle"></i>
        <p>
          Reset Other Password

        </p>
      </a>
    </li>


  </ul>
  <ul class="nav nav-treeview">
    <li class="nav-item ml-3">
      <a href="" class="nav-link">
        <i class="fas fa-xs fa-circle"></i>
        <p>
          Reset Password

        </p>
      </a>
    </li>
  </ul>
  <ul class="nav nav-treeview">
    <li class="nav-item ml-3">
      <a href="" class="nav-link">
        <i class="fas fa-xs fa-circle"></i>
        <p>
          Change Password

        </p>
      </a>
    </li>
  </ul>
</li>

<!-- --------------------------------------------------------------- -->
<!-- 
<li class="nav-item has-treeview">
  <a href="#" class="nav-link">
    <i class="fas  fa-users mr-1"></i>
    <p>
      Settings

      <i class="fas fa-angle-left right"></i>


    </p>
  </a>

 

  <ul class="nav nav-treeview">
    <li class="nav-item ml-3">
      <a href="" class="nav-link">
        <i class="fas fa-xs fa-circle"></i>
        <p>
          User

        </p>
      </a>
    </li>


  </ul> -->

<!-- </li> -->
  <li class="nav-item">
    <a href="{% url 'logout' %}" class="nav-link">
      <i class="fas fa-sign-out-alt"></i>
      <p>
        Logout

      </p>
    </a>
  </li>

