{% extends 'base.html' %}
{% load static %}
{% load auth_extras %}
{% load crispy_forms_tags %}
{% block title %}
{{title}}
{% endblock title %}
{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.card-header -->
        {% include "messages.html" %}

            <div class="col-12">


                <div class="card " style="background-color: rgb(247, 245, 245);">

                    <div class="card-header">

                        <ul class="nav nav-tabs nav-custom p-0">
                            <li class="nav-item"><a class="nav-link active" href="#review" data-toggle="tab">Under
                                    Review</a></li>
                            <li class="nav-item"><a class="nav-link" href="#accepted" data-toggle="tab">Accepted</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#rejected" data-toggle="tab">Rejected</a>
                            </li>


                            <li>
                                <!-- <form class="float-right mb-2" style="margin-left: 15rem;" role="search"  method="GET" >
                    <div class="input-group">
                   
                
                      {{ form|crispy }} 
                  
                      <div class="input-group-btn ">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
          
                      </div>
                    </div>
                  </form> -->
                            </li>
                            <li>



                    </div>


                </div>
                </li>

                </ul>

            </div>

            <div class="tab-content">

                <div class="active tab-pane" id="review">
                    <input class="form-control my-2" id="myInput" type="text" placeholder="Search with Category..">
                    <div class="row" id="filter_div">
                        
                        {% if articles_under_review %}
                        {% for article in articles_under_review %}
                        {% include "reviewer/includes/article-body.html" %}
                        {% empty %}
                        <h2 class="mx-auto"><strong>No articles Available.</strong></h2>
                        {% endfor %}
                        {% endif %}
                            
                      
                    </div>
                </div>
                <div class="active tab-pane" id="accepted">
                    <div class="row" id="filter_div">
                     
                     {% if accepted_articles  %}
                     {% for article in accepted_articles %}
                     {% include "reviewer/includes/article-body.html" %}
                     {% empty %}
                     <h2 class="mx-auto"><strong>No Accepted articles.</strong></h2>
                     {% endfor %}
                     {% endif %}
                         
                    </div>
                </div>
                <div class="active tab-pane" id="rejected">
                    <div class="row" id="filter_div">
                       {% if rejected_articles %}
                       {% for article in rejected_articles %}
                       {% include "reviewer/includes/article-body.html" %}
                       {% empty %}
                       <h2 class="mx-auto"><strong>No rejected Available.</strong></h2>
                       {% endfor %}
                       {% endif %}
                    </div>
                </div>
            </div>












    </div>
    <!-- /.card-body -->
 

</section>
<!-- /.content -->

<style>
    .nav-custom>li>a:hover {
        color: black;
    }

    .nav-custom>li>a {

        font-weight: 600;
        color: white;
        padding: 8px 10px 8px 10px;
        background-color: #094089;


    }
</style>
{% endblock main_content %}
{% block javascript %}
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            let isFound = false;
            $("#filter_div *").filter(function () {
                if ($(this).find('.card-body').text().toLowerCase().includes(value)) {
                    isFound = true;
                }
                $(this).closest('.card').toggle(isFound);
            });
        });
    });
</script>
{% endblock %}