{% extends 'base.html' %}

{% load auth_extras %}

{% block title %}
Dashboard
{% endblock title %}

{% block main_content %}


<!---------------------------------------------Admin dashboard start----------------------------------------------------------------->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box border border-info">
          <span class="info-box-icon bg-info elevation-1">
            <a href=""> <i class="fas fa-1x fa-user-graduate"></i></a>
          </span>

          <div class="info-box-content">
            <span class="info-box-text"></span>
            <span class="info-box-number">
              {{students_count}}
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3 border border-primary">
          <span class="info-box-icon elevation-1" style="background-color: #3A988D;">
            <a href="" class="text-white"> <i class="fas fa-1x fa-chalkboard-teacher"></i></a>
          </span>

          <div class="info-box-content ">
            <span class="info-box-text">Accepted and Published</span>
            <span class="info-box-number">{{teachers_count}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3 border border-primary">
          <span class="info-box-icon bg-primary elevation-1">
            <a href=""> <i class="fas fa-1x fa-book-open"></i></a>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">Rejected</span>
            <span class="info-box-number">{{subjects_count}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3 border border-success">
          <span class="info-box-icon bg-success elevation-1"> <i class="fas fa-1x fa-book-open"></i></span>

          <div class="info-box-content">
            <span class="info-box-text"></span>
            <span class="info-box-number"></span>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

   
    <!-- -------------------------------------------------------Hight chart start----------------------------------------------- -->
    <div class="row">
      <div class="col-md-6">
        <figure class="users_total">
          <div id="users_total-container"></div>
          <!-- <p class="highcharts-description">
          This pie chart shows the total number os students and teachers.
      </p> -->
        </figure>
      </div>
      <div class="col-md-6">
        <figure class="year_subjects">
          <div id="year_subjects-container"></div>
          <!-- <p class="highcharts-description">
          chart for subject and year

      </p> -->
        </figure>
      </div>
    </div>

    <!-- ------------------------------------------Hight chart end------------------------------------------------- -->

</section>

<!---------------------------------------------Admin dashboard end----------------------------------------------------------------->

<div class="row">
  <div class="col-md-6">

<!---------------------------------------------Student dashboard start----------------------------------------------------------------->

{% if request.user|has_group:'User' %}



{% endif %}




{% endblock  %}



{% block custom_js %}


{% endblock custom_js %}
